<ul class="nav justify-content-center">
<li class="nav-item"><a href="/"  class="nav-link">Ingresar productos</a></li
<li class="nav-item"><a href="/productos" class="nav-link">Listar Productos</a></li>
</ul>